<link rel="stylesheet" href="/css/register.css">
<form action="/action_logout">
<input type="text" name="name" placeholder="Enter Name" required>
<input type="text" name="email" placeholder="Enter email" required>
<input type="password" name="password" required placeholder="Password">
<input type="password" name="conform_password" required placeholder="Confirm Password">
<input type="submit" value="Register">
</form>