form{
    position: relative;
    left: 50%;
    top: 40%;
    width: 400px;
    height: 300px;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    text-align: center;
}
input[type="text"],input[type="password"]
{
    text-align: left;
    padding: 10px;
    width: 80%;
    height: 12%;
    margin: 10px;

}
input[type="submit"]
{
    text-align: center;
    padding: 10px;
    width: 30%;
    height: 15%;
    margin: 10px;
}